#docker-image.yml
name: Snapshot Flow
on:
  workflow_dispatch:
    inputs:
      source:
        description: 'trigger source'
        required: false
        default: 'cron-job.org'
jobs:
  splitter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true
      - name: Run tests
        run: |
          chmod +x test.sh
          ./test.sh
